/* 首交 */
.top-interactive {
    width: 100%;
    height: 400px;
    overflow: hidden;
}


/* 瀑布流 */
.image-flow-list {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}
.image-flow-colm {
    float: left;
    width: 25%;
    padding: 0;
    margin: 0;
    list-style: none;
}
.image-flow-colm > li {
    width: 100%;
    padding: 0;
    position: relative;

    /*动画显示*/
    /*animation-duration: .7s;
    animation-fill-mode: both;
    animation-name: fadeIn;*/
}
.image-flow-colm > li > .img-wrap {
    max-height: 476px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.image-flow-colm > li > .img-wrap > img {
    width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
    transform: scale(1);                                   
    transition: all 0.5s;
}
.image-flow-colm > li:hover > .img-wrap > img {
    transform: scale(1.1);
}
.image-flow-colm > li > .txt-wrap {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    vertical-align: middle;
    background: transparent;
    opacity: 0;
    transition: all 0.5s;
}
.image-flow-colm > li:hover > .txt-wrap {
    cursor: pointer;
    opacity: 0.9;
    background: linear-gradient(to right, rgba(211, 56, 123, 0.772549) 0%, rgba(134, 40, 205, 0.772549) 100%);
}
.image-flow-colm > li > .txt-wrap > .txt-wrap-table {
    width: 100%;
    height: 100%;
    display: table;
}
.image-flow-colm > li > .txt-wrap > .txt-wrap-table > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.image-flow-colm > li > .txt-wrap > .txt-wrap-table p.txt{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #fff;
}

.image-flow-colm > li > .txt-wrap > .txt-wrap-table .likebox {

}
.likebox > i {
    font-size: 30px;
}
.likebox > i.glyphicon-heart-empty {
    color: #fff;
}
.likebox > i.glyphicon-heart {
    color: red;
}
.likebox > span {
    color: #fff;
    font-size: 14px;
}