.image-flow-list {
    padding: 0;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    -webkit-column-width: 25%;
    -moz-column-width: 25%;
    -webkit-column-width: 25%;
    column-width: 25%;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    -webkit-column-gap: 0;
    column-gap: 0;
}
.image-flow-list > li {
    padding: 0;
    -webkit-page-break-inside: avoid;
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
}
.image-flow-list > li > .img-wrap {
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.image-flow-list > li > .img-wrap > img {
    width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;

    transition: 0.5s;
}
.image-flow-list > li:hover > .img-wrap > img {
    /*width: 100%;*/
    /*height: auto;*/
    -webkit-animation: warn 3s ease-out;  
    -moz-animation: warn 3s ease-out;
    -o-animation: warn 3s ease-out;  
    animation: warn 3s ease-out;
}
.image-flow-list > li > .txt-wrap {
    display: none;
}
.image-flow-list > li:hover > .img-wrap {
    display: block;
    background: linear-gradient(to right, rgba(211, 56, 123, 0.772549) 0%, rgba(134, 40, 205, 0.772549) 100%);
}
@keyframes indexImgZoom {  
    0% { transform: scale(0); }  
    100% { transform: scale(1.1); }  
}  
@-webkit-keyframes indexImgZoom {  
    0% { transform: scale(0); }  
    100% { transform: scale(1.1); }  
}  