.header .main-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.main-header .navbar-tmp1 {
  background: transparent;
  border: 0;
}
.main-header > div.navbar {
  margin: 0;
}
.header .main-header figure {
  display: inline-block;
  padding: 20px 0;
}
.header .main-header figure a {
  line-height: 50px;
}
.header .main-header ul {
  display: inline-block;
  float: right;
  padding: 20px 0;
}
.header .main-header ul li {
  display: inline-block;
}
.header .main-header ul li a {
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  border: 2px solid transparent;
  padding: 14px 30px;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease ease-out;
  -moz-transition: all 0.3s ease ease-out;
  -o-transition: all 0.3s ease ease-out;
  transition: all 0.3s ease ease-out;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header .main-header ul li a:hover {
  background-color: #fff;
  color: #2aabe5;
}
.header .main-header ul li:last-child a {
  border: 2px solid #fff;
  border-radius: 4px;
}
.header .main-header ul li:last-child a:hover {
  background-color: #fff;
  color: #2aabe5;
}
.header > .header-background {
  /*background: url("../images/backgrounds/bg-top.jpg") top center no-repeat;*/
  background-size: cover;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover {
  
}

.navbar-default .menu {
  margin-left: 80px; 
}
.navbar-default .menu .navbar-brand {
  color: #fff;
  margin-right: 30px;
  position: relative;
}
.navbar-default .menu .navbar-brand.active,
.navbar-default .menu .navbar-brand:hover {
  color: rgba(211, 56, 123, 0.772549);
}
.navbar-default .menu .navbar-brand.active:after,
.navbar-default .menu .navbar-brand.active:before {
  width: 100%;
}
.navbar-default .menu .navbar-brand:after,
.navbar-default .menu .navbar-brand:before {
  content:'';
  width: 0;
  height: 2px;
  display: block;
  position: absolute;
  background: linear-gradient(to right, rgba(211, 56, 123, 0.772549) 0%, rgba(134, 40, 205, 0.772549) 100%);
  transition: all 0.5s;
}
.navbar-default .menu .navbar-brand:before {
  top: 0;
  right: 0;
}
.navbar-default .menu .navbar-brand:after {
  bottom: 0;
  left: 0;
}
.navbar-default .menu .navbar-brand:hover:before,
.navbar-default .menu .navbar-brand:hover:after {
  width: 100%;
}

